<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 给实体类配置别名 -->
<!-- 		<typeAlias type="com.spdb.test.model.User" alias="User"></typeAlias> -->
	</typeAliases>
	
</configuration>  